.costCalculation {
    background-color: #141414;
    color: #fff;
}

.calculationUpperContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.costGraph {
    width: 46%;
}

.costGraph > img {
    width: 100%;
}

.calculationLowerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.costPrice {
    font-size: 80px;
    font-weight: bold;
}

.yellowRect {
    padding: 20px 30px;
    max-width: 240px;
    border: 5px solid #ffbb00;
}

.yellowRectMultiplicity {
    font-size: 80px;
}