.formTheFirst {
    color: #6666ff;
}

.upperContainerHeader {
    width: 500px;

    line-height: 1.2;
    font-size: 36px;
    font-weight: 900;
}

.heroCardsContainer {
    margin-top: 30px;
}

.heroIcon-1 {
    background-image: url('../../img/heroIcon1.svg');
}

.heroIcon-2 {
    background-image: url('../../img/heroIcon2.svg');
}

.heroIcon-3 {
    background-image: url('../../img/heroIcon3.svg');
}

.heroIcon-4 {
    background-image: url('../../img/heroIcon4.svg');
}

.heroIcon {
    display: inline-block;
    margin-right: 5px;
    width: 16px;
    height: 16px;
    background-size: contain;
}

.heroIconContainer {
    display: flex;
    align-items: center;
}

.heroIconsContainer {
    display: flex;
    justify-content: space-between;
    max-width: 380px;
    margin-bottom: 40px;
}

.heroUpperContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.heroCardsContainer,
.heroImgComtainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.heroImg, 
.card {
    width: 180px;
}

.heroImg:not(:first-child) {
    margin-left: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 18px;
    height: 531px;

    border-radius: 20px;
    background-color: #e3e3e3;
    background-repeat: no-repeat;
    background-position: 45px 0px;
}

.card:not(:first-child) {
    margin-left: 10px;
    background-size: 160px;
}

.card:first-child {
    background-size: 90px;
    background-position: 110px 0;
}

.card-1 {
    background-image: url(../../img/1.png);
}

.card-2 {
    background-image: url(../../img/2.png);
}

.card-3 {
    background-image: url(../../img/3.png);
}

.card-4 {
    background-image: url(../../img/4.png);
}

.cardText {
    font-size: 14px;
}

.lowerCardContainer {
    margin-top: 10px;
    font-weight: bold;
}

.cardPrice {
    display: inline-block; 
    padding: 2px 10px;
    margin: 0 5px;

    border-radius: 30px;
}

.card-1 .cardPrice {
    background-color: #f99e00;
}

.card-2 .cardPrice,
.card-4 .cardPrice {
    background-color: #78B833;
}

.card-3 .cardPrice {
    background-color: #fff;
}

.card-1 .cardPriseAfter {
    color: #e31e24;
}

.card-2 .cardPriseAfter,
.card-4 .cardPriseAfter {
    color: #19aa1e;
}

/* ---------------------------------------------------------------------------------------- */

.upperContainerSubheader {
    max-width: 320px;
    margin-bottom: 20px;
    font-weight: 500;
}